<h1>Edit</h1>   
<!-- ========== Start Section ========== -->
    <!--we are using partials to render a portion of other view in the current view. In this case we are rendering a form-->
<!-- ========== End Section ========== -->

<%= render partial: 'form', locals: {blog_post: @blog_post}  %>